[submodule "vendors/Symfony/Component/ClassLoader"]
	path = vendors/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "vendors/codingstandard"]
	path = vendors/codingstandard
	url = git@github.com:marlon-be/codingstandard.git
